@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #030304;
  color: white;
}


@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee linear infinite;
}